/* global.css */

body {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  max-height: 100vh;
  min-width: 100vw;
  /* overflow-x: hidden; 
  overflow-y: hidden;  */
  font-size: 1em;
  background-color: "rgba(255, 255, 255, 1)";

}

.mapboxgl-map * {
  font-family: 'Inter', sans-serif !important;
}

.mapboxgl-map {
  font-family: 'Inter', sans-serif !important;
}


/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

h1, h2, h3 {
  font-family: 'Inter', sans-serif !important;
}
